.leadText{
    font-size: 62px;
}
.searchInput{
    background-color: #3F3F46;
    border-radius: 50px;
}
.iconsColor{
    color: white !important;;
}
.hoverParent{
    transition:.5;
}
.hoverMe{
    display:none;
    transition: .5s;
}
.hoverParent:hover .hoverMe{
    display: block;
    transition: .7s;
}