.leadText{
    font-size: 62px;
}
.searchInput{
    background-color: #3F3F46;
    border-radius: 50px;
}
.iconsColor{
    color: white !important;;
}
.hoverParent{
    transition:.5;
}
.hoverMe{
    visibility:'hidden';
    transition: .5s;
}
.hoverParent:hover .hoverMe{
    visibility: visible;
}