.leadText{
    font-size: 62px;
}
.rightSide{
    flex: 1 1;
    max-height: calc(100vh - 70px);
    overflow: auto;
}

.generate-btn{
    margin-right: 5px;
}
.searchInputDark,.searchInputLight{
    background-color: #3F3F46;
    border-radius: 50px;
}
.searchInputLight{
    background-color:white;
    border:1px solid grey;
}
.iconsColorLight{
    color: white !important;;
}
.iconsColorDark{
    color: black !important;;
}
.hoverParent{
    transition:.5;
}
.hoverMe{
    display:none;
    transition: .5s;
}
.hoverParent:hover .hoverMe{
    display: block;
    transition: .7s;
}
.rangeSliderLight::-webkit-slider-runnable-track{
    background: rgb(57 51 165);
    border-radius: 50px;
    
}
.rangeSliderLight::-webkit-slider-thumb{
    background: linear-gradient(to bottom, red, yellow);
}
.customInputStyle:focus{
    outline: none;
    box-shadow: none;
    border: none;
}
.selectModal:hover,.selectModal:focus{
    background-color: transparent;
}